.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link.active,
.video-btn:hover{
    color: #198754 !important;
}

.lorem-div{
    transition: margin-top 0.3s ease-in-out;
}

.lorem-div:hover{
    margin-top: -5px;
    transform: translateY(-10px);
    cursor: pointer;
}

.lorem-div:hover h4{
    color: #198754 !important;
}

.service-item:hover{
    border: #198754 1px solid;
    transition: border-color 0.3 ease;
    cursor: pointer;
}

.service-item:hover h4{
    color: #198754 !important;
    transition: color 0.3 ease;
}

.carousel-indicators [data-bs-target] {
    background-color: #198754; 
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.popup-overlay{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex; 
    justify-content: center; 
    align-items: center;
    z-index: 1050;
}
.popup-card {
    max-width: 400px;
    animation: zoomIn 0.3s ease;
}

